#matchingContainer{
position: absolute;
z-index: 5000000;
background: white;
border: 1px solid #d0d0d0;
padding: 10px;
margin: 15px;
bottom: 0px;
}
#matchingText{}
#matchingResult{}
.short{ padding: 0px 3px; }